parameters:
	ignoreErrors:
		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: config/fortify.php

		-
			message: '#^Parameter \#1 \$title of static method Illuminate\\Support\\Str\:\:slug\(\) expects string, bool\|string given\.$#'
			identifier: argument.type
			count: 1
			path: config/horizon.php

		-
			message: '#^Cannot access offset ''model_has_permissions'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: database/migrations/2026_05_19_165846_create_permission_tables.php

		-
			message: '#^Cannot access offset ''model_has_roles'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: database/migrations/2026_05_19_165846_create_permission_tables.php

		-
			message: '#^Cannot access offset ''model_morph_key'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 8
			path: database/migrations/2026_05_19_165846_create_permission_tables.php

		-
			message: '#^Cannot access offset ''permission_pivot_key'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: database/migrations/2026_05_19_165846_create_permission_tables.php

		-
			message: '#^Cannot access offset ''permissions'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: database/migrations/2026_05_19_165846_create_permission_tables.php

		-
			message: '#^Cannot access offset ''role_has_permissions'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: database/migrations/2026_05_19_165846_create_permission_tables.php

		-
			message: '#^Cannot access offset ''role_pivot_key'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: database/migrations/2026_05_19_165846_create_permission_tables.php

		-
			message: '#^Cannot access offset ''roles'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: database/migrations/2026_05_19_165846_create_permission_tables.php

		-
			message: '#^Cannot access offset ''team_foreign_key'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 10
			path: database/migrations/2026_05_19_165846_create_permission_tables.php

		-
			message: '#^Parameter \#1 \$column of method Illuminate\\Database\\Schema\\Blueprint\:\:unsignedBigInteger\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 9
			path: database/migrations/2026_05_19_165846_create_permission_tables.php

		-
			message: '#^Parameter \#1 \$columns of method Illuminate\\Database\\Schema\\Blueprint\:\:foreign\(\) expects array\|string, mixed given\.$#'
			identifier: argument.type
			count: 4
			path: database/migrations/2026_05_19_165846_create_permission_tables.php

		-
			message: '#^Parameter \#1 \$columns of method Illuminate\\Database\\Schema\\Blueprint\:\:index\(\) expects array\|string, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: database/migrations/2026_05_19_165846_create_permission_tables.php

		-
			message: '#^Parameter \#1 \$key of method Illuminate\\Contracts\\Cache\\Repository\:\:forget\(\) expects string\|UnitEnum, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: database/migrations/2026_05_19_165846_create_permission_tables.php

		-
			message: '#^Parameter \#1 \$name of method Illuminate\\Cache\\CacheManager\:\:store\(\) expects string\|UnitEnum\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: database/migrations/2026_05_19_165846_create_permission_tables.php

		-
			message: '#^Parameter \#1 \$table of method Illuminate\\Database\\Schema\\ForeignKeyDefinition\:\:on\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 4
			path: database/migrations/2026_05_19_165846_create_permission_tables.php

		-
			message: '#^Parameter \#1 \$table of static method Illuminate\\Support\\Facades\\Schema\:\:create\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 5
			path: database/migrations/2026_05_19_165846_create_permission_tables.php

		-
			message: '#^Parameter \#1 \$table of static method Illuminate\\Support\\Facades\\Schema\:\:drop\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 5
			path: database/migrations/2026_05_19_165846_create_permission_tables.php

		-
			message: '#^Parameter \#1 \$name of static method Illuminate\\Support\\Facades\\Schema\:\:connection\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: database/migrations/2026_05_19_165847_create_activity_log_table.php

		-
			message: '#^Parameter \#1 \$table of method Illuminate\\Database\\Schema\\Builder\:\:create\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: database/migrations/2026_05_19_165847_create_activity_log_table.php

		-
			message: '#^Parameter \#1 \$table of method Illuminate\\Database\\Schema\\Builder\:\:dropIfExists\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: database/migrations/2026_05_19_165847_create_activity_log_table.php

		-
			message: '#^Parameter \#1 \$name of static method Illuminate\\Support\\Facades\\Schema\:\:connection\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: database/migrations/2026_05_19_165848_add_event_column_to_activity_log_table.php

		-
			message: '#^Parameter \#1 \$table of method Illuminate\\Database\\Schema\\Builder\:\:table\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: database/migrations/2026_05_19_165848_add_event_column_to_activity_log_table.php

		-
			message: '#^Parameter \#1 \$name of static method Illuminate\\Support\\Facades\\Schema\:\:connection\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: database/migrations/2026_05_19_165849_add_batch_uuid_column_to_activity_log_table.php

		-
			message: '#^Parameter \#1 \$table of method Illuminate\\Database\\Schema\\Builder\:\:table\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: database/migrations/2026_05_19_165849_add_batch_uuid_column_to_activity_log_table.php

		-
			message: '#^Match expression does not handle remaining value\: string$#'
			identifier: match.unhandled
			count: 3
			path: database/migrations/2026_05_19_165856_create_pulse_tables.php

		-
			message: '#^Undefined variable\: \$this$#'
			identifier: variable.undefined
			count: 1
			path: tests/Pest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:expect\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Unit/ArchTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:preset\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: tests/Unit/ArchTest.php
